.details {
	display: inline-block;
	width: 100%;
	padding: 0 10px;
}

.details .btn-large {
	margin-top: 6px;
}

.details h6 {
	margin-top: 25px;
}

.details img {
	margin: 0 20px;
	width: 50px;
	height: 50px;
}

.details ul li {
	display: inline-block;
}

.amenities ul li {
	display: inline-block;
	margin: 15px;
}

.amenities h6 {
	padding-top: 5px;
	margin-left: 5px;
}

.icon {
	padding: 5px;
	width: 44px;
	height: 44px;
	opacity: 0.8;
}

@media only screen and (max-width: 600px) {
	.details ul {
		text-align: center !important;
	}
}

@media only screen and (min-width: 601px) {
	.left-align {
		float: left;
	}

	.right-align {
		float: right;
	}
}