.category {
	margin: 50px 0;
}	

.category h5 {
	margin-top: 2px !important;
}

.menu-item i {
	margin: 0 !important;
}

.posts h4:hover {
	color: #ff9816 !important;
}

.read {
	padding: 10px;
	width: 100%;
}

.read:hover {
	background: rgba(0, 0, 0, 0.1);
}

.read a:hover {
	color: black !important;
}

.post {
	font-size: 1.2rem;
	margin: 30px 0;
}

.cover {
	margin: 30px 0;
	height: 300px;
	overflow: hidden;
}

.cover img {
	width: 100%;
}