.navbar-menu {
	background: rgba(33, 33, 33, 0);
}

header .parallax-container {
	/*width: 102%;*/
	margin-top: -100px;
}

.parallax-item {
	color: #fff;
	margin-top: 150px;
}

.parallax-item h3 {
	font-weight: 300;
}

.parallax img, .card-image img {
	-webkit-filter: contrast(0.6) brightness(0.7);
	-moz-filter: contrast(0.6) brightness(0.7);
	-o-filter: contrast(0.6) brightness(0.7);
	-ms-filter: contrast(0.6) brightness(0.7);
	filter: contrast(0.6) brightness(0.7);
}

.card .card-image .card-title {
	padding: 10px 20px !important;
}

.card .card-image .card-title i {
	padding-top: 2px !important;
}

.card .card-content {
    padding-top: 0 !important;
}

.card .card-title {
	font-size: 20px !important;
    padding: 0 20px !important;
}

.card-content p {
	text-align: justify;
}

.parallax-about {
	height: 300px;
	margin-bottom: -1px;
}

.about p {
	font-weight: 300;
	text-align: justify;
	font-size: 1.2em;
}

.event {
	padding: 10px;
	display: inline-block;
	width: 350px !important;
}

.map-container {
	padding: 50px 0 0 0;
}