.content:before {
	content: "";
	position: fixed;
	left: 0;
	right: 0;
	z-index: -1;

	display: block;
	background: url(/images/login-bg.jpeg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	width: 100%;
	height: 100%;

	-webkit-filter: contrast(0.5) brightness(0.7);
	-moz-filter: contrast(0.5) brightness(0.7);
	-o-filter: contrast(0.5) brightness(0.7);
	-ms-filter: contrast(0.5) brightness(0.7);
	filter: contrast(0.5) brightness(0.7);
}

.content {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 0;
	margin-left: 20px;
	margin-right: 20px;
}

.logo {
	padding: 30px;
	width: 100%;
}

.input-field input[type=date] + label,
.input-field input[type=text] + label,
.input-field input[type=email] + label,
.input-field input[type=password] + label {
	color: #fff;
}

.input-field input[type=date],
.input-field input[type=text],
.input-field input[type=email],
.input-field input[type=password] {
	color: #fff;
	border-bottom: 2px solid #fff;
	box-shadow: none;
}