
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	overflow-x: hidden;
}

main {
	flex: 1 0 auto;
}

@media (max-width: 991px) { 	
	.content {
		padding: 64px 0 !important;
	}

	nav ul {
		padding: 0;
	}

	nav {
		height: 64px !important;
	}
}

h6 {
	font-size: 1.2rem;
	line-height: 1.5rem;
}

.justify {
	text-align: justify;
}

nav {
	height: 100px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.nav-wrapper > ul {
	padding-top: 20px;
}

.no-padding {
	padding: 0 !important; 
}

.fixed-nav {
	height: 60px;
	position: fixed;
	top: 0 !important;
	left: 0 !important;
}

.fixed-margin {
	margin-bottom: 60px !important;
}

.navbar-top {
	z-index: 999;
	width: 100%;
	height: 50px !important;
	padding: 0;
	margin: 0;
}

.navbar-top ul li {
	display: inline-block;
	padding: 0;
	margin: 0;
}

.navbar-top a:hover {
	color: #fb8c00 !important;
}

.navbar-top img{
	width: 20px;
	padding: 0;
	margin: 0;
}

.navbar-top span{
	padding: 0 10px;
	vertical-align: top;
}

.navbar-top i{
	padding: 0 10px;
}

.navbar-bottom {
	width: 100%;
}

.navbar-bottom ul li {
	display: inline-block;
}

.navbar-bottom img{
	width: 20px;
}

.navbar-bottom span{
	padding: 0 10px;
	vertical-align: top;
}

.navbar-bottom i{
	padding: 0 10px;
}

@media (max-width: 600px) { 	
	.navbar-bottom ul {
		display: block;
		text-align: center;
		float: none !important;
	}

	.navbar-bottom ul li {
		display: inline-block;
	}
}

.nav-wrapper {
	/*height: 100px !important;*/
}

.navbar-menu {
	z-index: 999;
}

.collapsible-header {
	padding: 0 !important;
}

nav .brand-logo {
	height: 100px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.brand-logo img {
	padding: 5px;
	height: 100%;
}

@media (max-width: 992px) { 	
	.navbar-menu {
		margin-top: 0;
	}

	.brand-logo img {
		margin-top: 5px;
		height: 50px !important;
	}

	.navbar-menu{
		position: fixed;
	}
}

.smaller {
	height: 60px !important;
}

.navbar-fixed nav {
	background: rgba(33, 33, 33, 0);
}

.nav-links li a {
	font-weight: 300;
	text-transform: lowercase;
	font-size: 1.2em;
}

.nav-links a:not(.btn):hover {
	background: transparent !important;
	color: #fb8c00 !important;
}

.lang {
	margin-top: 15px;
	text-align: center;
	display: block;
}

.lang li {
	display: inline-block;
}

.collapsible a:not(.btn):hover, .collapsible div:hover {
	background: transparent !important;
	color: #fb8c00 !important;
}

.dropdown-content a {
	color: #212121 !important;
}

.dropdown-content a:hover {
	color: #fb8c00 !important;
}

.dropdown-content.nested {
	overflow-y: visible;
}

.dropdown-content .dropdown-content {
	margin-left: 100%;
}

.nested a.dropdown-button {
	height: 50px;
	line-height: 50px !important;
	padding-top: 0;
	padding-bottom: 0;
}

.brand-logo {
	margin: 0 10px;
}

#sidenav-overlay {
	z-index: 99;
}

.drag-target {
	z-index: 9 !important;
}

.side-nav img {
	width: 30px;
}

.side-nav span {
	padding-bottom: 10px;
}

footer.page-footer {
	padding-top: 0;
	margin-top: 0;
	z-index: 1;
}

footer a:hover {
	color: #fb8c00 !important;
}

@media (max-width: 992px) { 	
	.brand-logo {
		margin: 0;
	}
}

#check_in, #check_out {
	width: 75% !important;
	margin: 10px 0;
	float: right;
}

.input-field .icon {
	padding-top: 15px;
	float: left;
	width: 25%
}

.input-field .icon img {
	width: 30px;
	height: 30px;
}

.directions {	
	position: absolute;
	top: 170px;
	left: 10px;
	padding: 0 0.5rem;
	text-align: center;
	margin: 0 5px;
}

.z-depth--1 {
	-webkit-box-shadow: 0px 0px 0px 1px #e0e0e0;
	-moz-box-shadow: 0px 0px 0px 1px #e0e0e0;
	box-shadow: 0px 0px 0px 1px #e0e0e0;
}

.text-indent {
	padding-left: 2.7rem;
}

.error {
	height: 100%;
}

.side-nav li.active {
	background-color: transparent !important;
}

.breadcrumb-nav {
	height: 64px;
}

.breadcrumb::before {
	color: #9e9e9e;
}

.capitalize {
	text-transform: capitalize !important;
}

.breadcrumb-nav div {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.event {
	vertical-align: top !important;
}