.heading {
	color: rgba(0,0,0,0.71);
	text-align: center;
	font-weight: 500;
	margin: 50px;
}

.item {
	padding: 10px;
	min-height: 400px;
}

.icon {
	width: 130px;
}

.title {
	color: rgba(0,0,0,0.71);
	text-align: center;
	font-size: 1.7rem;
	font-weight: 500;
	margin-top: 5px;
	margin-bottom: 0;
}

.message {
	padding: 0 20px;
	text-align: justify;
}